router ospf 100
    router-id 1.1.1.{{ deviceid }}
!
interface Loopback0
    ip ospf area {{ loop0area }}
!
{% for int in hostvar[inventory_hostname].ospfints -%}
interface {{ int.name }}
    ip ospf network point-to-point
    ip ospf {{ int.area }}